@use '../../../styles/scss/mixins';

.section {
  position: relative;
  padding-top: 96px;
  padding-bottom: 120px;
  background-color: rgb(var(--dark-green));
  clip-path: inset(0 0 round 16px 16px 0 0);

  form {
    p {
      font: var(--body-detail);
      color: rgb(var(--phthalo-green));
      margin-top: 32px;
      margin-bottom: 16px;
    }
  }

  @include mixins.lg {
    clip-path: none;
    padding-top: 80px;
    padding-bottom: 96px;
  }
}

.imageSection {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  :global(.swiper) {
    overflow: hidden;
  }

  .image {
    position: relative;
    height: 100%;
  }

  @include mixins.lg {
    display: none;
  }
}

.formSection {
  position: relative;
  z-index: 1;

  h2 {
    font: var(--heading-md);
    margin-bottom: 48px;
  }

  & > p {
    color: rgb(var(--phthalo-green));
    margin-bottom: 72px;
  }

  .textboxes {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 32px;

    & > :nth-last-child(2) {
      flex-grow: 0;
    }

    & > div {
      flex-grow: 1;
    }
  }

  .checkboxes {
    display: flex;
    flex-wrap: wrap;
    row-gap: 16px;
    column-gap: 56px;
    margin-bottom: 40px;

    & > div {
      flex-basis: 43%;
    }
  }

  [type="submit"] {
    cursor: pointer;
  }

  & > div:last-child {
    position: absolute;
    bottom: 0;
    width: 100%;
    transform: translateY(calc(100% + 12px));
    color: rgb(var(--soft-phthalo-green));

    & > div {
      position: absolute;

      &:first-child {
        transition: all 350ms 350ms;
      }
    }
  }

  @include mixins.lg {
    h2 {
      margin-bottom: 32px;
    }

    & > p {
      margin-bottom: 40px;
    }

    form {
      text-align: left;
    }

    .textboxes {
      :global(.floating) {
        flex-grow: 1;
      }
    }

    .checkboxes {
      flex-direction: column;
    }
  }
}
