@use "../../../styles/scss/mixins";

.section {
  h2 {
    font: var(--heading-md);
  }

  @include mixins.lg {
    :global(.row) {
      gap: 40px;
      text-align: center;
    }
  }
}

.sectionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include mixins.lg {
    flex-direction: column;
    justify-content: center;
    gap: 32px;
  }
}

.about {
  position: relative;
  margin-top: 120px;

  img {
    position: relative;
    z-index: -1;
    width: 100%;
    height: auto;
    border-radius: 16px;
  }

  & > div:first-child {
    background-image: linear-gradient(180deg, rgba(24, 51, 47, 0) 0%, #18332f 100%);
  }

  & > div:last-child {
    position: absolute;
    bottom: 80px;
    width: 100%;

    h3 {
      color: rgb(var(--phthalo-green));
      font: var(--body-lg);
      margin-bottom: 16px;
    }
    p {
      display: flex;
      align-items: center;
    }
  }

  @include mixins.lg {
    margin-top: 80px;

    img {
      height: 560px;
    }

    & > div:last-child {
      position: relative;
      bottom: auto;
      margin-top: -112px;
      z-index: 2;
      text-align: center;

      h3 {
        margin-bottom: 32px;
      }

      p {
        flex-wrap: wrap;
        gap: 40px;
      }
    }
  }
}

.howItWorks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  padding: 64px 80px;
  border: 1px solid rgb(var(--soft-dark-green));
  border-radius: 16px;

  & > p {
    font: var(--body-sm);
    color: rgb(var(--phthalo-green));
    max-width: 68%;
  }

  & > div {
    p {
      font: var(--body-sm-bold);
      color: rgb(var(--soft-phthalo-green));
      text-align: center;
      margin-top: 16px;
    }
  }

  @include mixins.lg {
    padding: 40px 32px;
    flex-direction: column;

    & > p {
      max-width: none;
      text-align: center;
      margin-bottom: 40px;
    }

    & > div {
      text-align: center;
    }
  }
}
