@use '../../../styles/scss/mixins';

.banner {
  text-align: center;

  header {
    p {
      margin-bottom: 32px;
    }

    h1 {
      font: var(--heading-md);
      max-width: 628px;
      margin: 0 auto;
    }
  }
}

.categories {
  display: flex;
  flex-wrap: wrap;
  margin-top: 72px;
  justify-content: center;
  gap: 24px;

  @include mixins.lg {
    flex-wrap: wrap;
    gap: 16px;

    margin-top: 40px;
  }
}
