.banner {
  padding-top: calc(80px + 96px);
  padding-bottom: 96px;
  background-color: rgb(var(--dark-green));
  text-align: center;

  header {
    p {
      margin-bottom: 32px;
    }

    h1 {
      max-width: 628px;
      margin: 0 auto;
    }
  }
}

.categories {
  display: flex;
  margin-top: 72px;
  justify-content: center;
  gap: 24px;
}
