@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  border-color: currentcolor transparent currentcolor currentcolor !important;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: -0.125em;
  border: 0.25em solid currentColor;
  border-radius: 50%;
  animation: 0.75s linear infinite spin;
  transition: all 350ms;
}
