@use "../../../styles/scss/mixins";

@keyframes intro {
  to {
    scale: 1;
  }
}

.banner {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;

  :global(.pin-spacer) {
    position: absolute !important;
  }

  .cover {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: -2;

    &::before {
      content: "";
      z-index: 1;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgb(var(--dark-green), 0.2);
      background-image: linear-gradient(90deg, rgba(8, 37, 23, 0.6) 0%, rgba(8, 37, 23, 0) 39.58%);
    }

    img {
      object-fit: cover;
      object-position: left;
    }
  }

  .bannerContent {
    margin-top: -40px;
  }

  h1 {
    margin-bottom: 40px;
  }

  p {
    margin-bottom: 8px;
  }

  &.solutions {
    .cover {
      &::before {
        background-color: transparent;
        background-image: linear-gradient(90deg, rgba(230, 234, 220, 0.6) 0%, rgba(230, 234, 220, 0) 40.1%);
      }
    }

    p,
    h1 {
      color: rgb(var(--dark-green));
    }
  }

  @include mixins.lg {
    align-items: flex-end;

    .bannerContent {
      margin-top: 0;
      margin-bottom: 40px;
      text-align: center;

      h1 {
        margin-bottom: 24px;
      }
    }

    .cover {
      &::before {
        background: linear-gradient(0deg, rgba(8, 37, 23, 0.6) 0%, rgba(8, 37, 23, 0) 39.58%);
      }

      img {
        object-fit: cover;
        object-position: center -150px;
        height: calc(100vh + 150px) !important;
      }
    }
  }

  @include mixins.md {
    .bannerContent {
      margin-bottom: 80px;
    }

    .cover {
      img {
        object-fit: cover;
        object-position: center -180px;
        height: calc(100vh + 180px) !important;
      }
    }
  }
}
