@use "../../../styles/scss/mixins";

.section {
  position: relative;
  background-color: rgb(var(--dark-green));
  transition: all 350ms;
  padding: 160px 0;

  img {
    max-width: 100%;
    height: auto;
  }

  p {
    transition: all 350ms;
  }

  h2 {
    text-align: right;
    div:first-child {
      position: relative;
      right: 192px;
    }
  }

  &.light {
    background-color: rgb(var(--light-green));

    &::before {
      background-color: rgb(var(--light-green));
    }

    h2 {
      color: rgb(var(--greenery));
    }

    .textContent {
      & > p:first-of-type {
        color: rgb(var(--dark-green));
      }
      & > p:last-of-type {
        color: rgb(var(--greenery));
      }
    }

    .socialMedia {
      p {
        color: rgb(var(--dark-green));
      }
    }
  }

  @include mixins.lg {
    padding-top: 72px;
    padding-bottom: 88px;

    img {
      margin-bottom: 32px;
    }

    h2 {
      font: var(--heading-md);
      display: inline-block;
      text-align: center;
      margin-bottom: 40px;
      div {
        display: inline;

        &:first-child {
          right: auto;
        }
      }
    }
  }
}

.textContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;

  & > p:last-of-type {
    font: var(--body-sm);
    color: rgb(var(--phthalo-green));
    margin-top: 40px;
    margin-bottom: 16px;
  }

  @include mixins.lg {
    & > p:last-of-type {
      
    }
  }
}

.socialMedia {
  display: flex;
  align-items: center;
  gap: 24px;

  p {
    font: var(--body-sm-bold);
  }
}
