@use "../../../styles/scss/mixins";

.filter {
  /* display: flex;
  width: 100%;
  justify-content: center;
  gap: 24px; */
  margin-bottom: 48px;

  label {
    cursor: pointer;
    width: max-content;
  }

  @include mixins.lg {
    margin-top: 56px;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: center;
  }

  input[type="radio"] {
    appearance: none;
    margin: 0;
    display: none;

    &:checked + label {
      background-color: rgb(var(--dark-green)) !important;
      border-color: transparent;
      color: rgb(var(--light-green));
    }
  }
}

.searchBox {
  width: 400px;
  margin-left: auto;
  margin-right: auto;

  input {
    color: rgb(var(--dark-green));

    &:hover,
    &:focus {
      border-bottom-color: rgb(var(--greenery));
    }
  }

  @include mixins.sm {
    width: 100%;
    padding: 0 24px;
  }
}

.radio,
.categories {
  display: flex;
  gap: 24px;
  justify-content: center;

  @include mixins.lg {
    gap: 16px;
    flex-wrap: wrap;
  }
}

.categories,
.searchBox {
  padding-top: 48px;
}
