@use '../../../styles/scss/mixins';

.filter {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 24px;
  margin-top: 112px;

  label {
    cursor: pointer;
    width: max-content;
  }

  @include mixins.lg {
    margin-top: 56px;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.radio {
  display: flex;
  gap: 24px;

  input[type="radio"] {
    appearance: none;
    margin: 0;
    display: none;

    &:checked + label {
      background-color: rgb(var(--dark-green)) !important;
      border-color: transparent;
      color: rgb(var(--light-green));
    }
  }

  @include mixins.lg {
    gap: 16px;
    flex-wrap: wrap;
    justify-content: center;
  }
}
