@use "scss/buttons";
@use "scss/colors";
@use "scss/mixins";
@use "scss/typography";
@use "scss/forms";

:root {
  scroll-behavior: auto !important;
  overflow: overlay;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  overflow-x: clip;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(var(--light-green));
}

main {
  background-color: rgb(var(--light-green));
  position: relative;
  z-index: -1;
}

#home.home {
  @media (max-width: 992px) {
    clip-path: inset(0 0 round 0 0 24px 24px);
  }
}

figure,
blockquote {
  margin: 0;
}

address {
  font-style: normal;
}

img,
svg,
video {
  vertical-align: middle;
}

img,
video {
  object-fit: cover;
  object-position: center;
}

ul,
ol,
dl,
menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.swiper {
  overflow: visible;
  height: 100%;
}

.collapse:not(.show) {
  display: none !important;
}

.collapsing {
  height: 0;
  overflow: hidden;
  transition: height 0.35s ease;
}

@include mixins.lg {
  #wp-floating {
    
  }
}

@include mixins.lg {
  [class*="col-lg"] {
    & > div {
      text-align: center;
      align-items: center;
    }
  }
}

@include mixins.sm {
  .col-12 {
    padding: 0 24px;
  }
}

/* ::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background-color: rgb(0, 0, 0, 0);
}
::-webkit-scrollbar-thumb {
  background-color: rgb(var(--greenery), 0.6);
  border-radius: 56px;
} */