@use "scss/buttons";
@use "scss/colors";
@use "scss/mixins";
@use "scss/typography";

:root {
  scroll-behavior: smooth !important;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  overflow-x: clip;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(var(--light-green));
}

main {
  background-color: rgb(var(--light-green));
  position: relative;
  z-index: -1;
}

figure,
blockquote {
  margin: 0;
}

address {
  font-style: normal;
}

img,
svg,
video {
  vertical-align: middle;
}

img,
video {
  object-fit: cover;
  object-position: center;
}

ul,
ol,
dl,
menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.swiper {
  overflow: visible;
  height: 100%;
}
