.section {
  background-color: rgb(var(--light-green));
  text-align: center;

  header {
    margin-bottom: 72px;

    p {
      margin-left: auto;
      margin-right: auto;
    }

    h2 {
      color: rgb(var(--dark-green));
    }
  }

  & > a {
    margin-top: 72px;
  }
}

.logo {
  display: flex;
  justify-content: center;
  padding: 48px 56px;
  border: 2px solid rgb(var(--dark-green), 0.2);
  border-radius: 16px;
  height: 150px;
  box-sizing: content-box;

  img {
    object-fit: contain;
    display: block;
    margin: auto;
    width: 150px;
    height: auto;
  }
}
