@use "../../../styles/scss/mixins";

.section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgb(var(--dark-green), 0.2);
  border-bottom: 1px solid rgb(var(--dark-green), 0.2);

  @include mixins.sm {
    gap: 8px;
  }

  h2 {
    font: var(--body-lg-bold);
    color: rgb(var(--greenery));
    padding: 32px 0;
  }

  menu {
    display: flex;
    gap: 24px;
    list-style: none;

    @include mixins.sm {
      gap: 24px;
    }

    button {
      border: 0;
      background-color: transparent;
      svg {
        cursor: pointer;
      }
    }
  }

  @include mixins.lg {
    flex-direction: column;
    padding: 24px 0;

    h2 {
      padding: 0;
    }
  }
}
