@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.section {
}

.list {
  columns: 2 448px;
  gap: 60px;

  [data-left="true"] {
    margin-left: auto;
  }
  [data-left="false"] {
  }

  & + button {
    justify-content: center;
  }
}

.item {
  max-width: 448px;
  break-inside: avoid;
  margin-bottom: 48px;
}

.more {
  text-align: center;
  padding: 120px 0;
  pointer-events: none;

  button {
    opacity: 0;
    transition: 350ms;

    &.active {
      opacity: 1;
    }
    
    svg {
      animation: spin 2s linear infinite;
    }
  }
}
