$colors: (
  "greenry": #84bd00,
  "phthalo": #c2e189,
  "light": #e6eadc,
  "dark": #18332f,
);

@mixin filled-button {
  position: relative;
  z-index: 1;

  &::after {
    content: "";
    background-color: rgb(var(--greenery));
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    border-radius: 56px;
    transition: transform 600ms;
  }

  &:hover {
    &::after {
      transform: scale(1.1);
    }
  }
}

@mixin outline-button {
  position: relative;

  &:hover {
    background-color: rgb(var(--phthalo-green));
  }
}

.btn {
  &:not(.outline) {
    @include filled-button;
  }

  font: var(--body-default);
  font-weight: 700;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  padding: 0 20px;
  background-color: rgb(var(--greenery));
  color: rgb(var(--light-green));
  border: 0;
  gap: 8px;
  border-radius: 56px;
  text-decoration: none;
  transition: all 350ms;

  &:hover {
    cursor: pointer;
  }

  &.small {
    font: var(--body-sm);
    font-weight: 700;
    padding: 0 16px;
    height: 40px;
  }
  &.large {
    padding: 0 24px;
    height: 56px;
  }

  &.greenery {
    background-color: rgb(var(--greenery));
    color: rgb(var(--light-green));
    &.outline {
      background-color: transparent;
      border: 2px solid rgb(var(--greenery));
      color: rgb(var(--greenery));
    }
  }

  &.phthalo {
    background-color: rgb(var(--phthalo-green));
    color: rgb(var(--dark-green));
    &.outline {
      background-color: transparent;
      border: 2px solid rgb(var(--phthalo-green));
      color: rgb(var(--phthalo-green));
    }
  }

  &.light-green {
    background-color: rgb(var(--light-green));
    color: rgb(var(--dark-green));
    &.outline {
      background-color: transparent;
      border: 2px solid rgb(var(--light-green));
      color: rgb(var(--light-green));
    }
  }

  &.dark-green {
    background-color: rgb(var(--dark-green));
    color: rgb(var(--light-green));
    &.outline {
      background-color: transparent;
      border: 2px solid rgb(var(--dark-green));
      color: rgb(var(--dark-green));
    }
  }
}

a:not(.btn) {
  color: rgb(var(--phthalo-green));
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  position: relative;
  transition: all 350ms;
  text-decoration: none;

  &:not(.link-image) {
    &::after {
      content: "";
      background-color: currentColor;
      display: inline-block;
      position: absolute;
      bottom: -8px;
      left: 0;
      width: 100%;
      height: 2px;
      transition: transform 500ms;
      transform: scaleX(0);
      transform-origin: right;
    }
  }

  &:hover {
    &::after {
      transform: scaleX(1);
      transform-origin: left;
    }
  }
}
