$colors: (
  "greenery": (
    "bg": #84bd00,
    "text": #e6eadc,
    "line": #c2e189,
  ),
  "phthalo": (
    "bg": #c2e189,
    "text": #18332f,
    "line": #84bd00,
  ),
  "light": (
    "bg": #e6eadc,
    "text": #18332f,
    "line": #84bd00,
  ),
  "dark": (
    "bg": #18332f,
    "text": #e6eadc,
    "line": #c2e189,
  ),
);

$tag-colors: (
  "leaf": (
    "bg": #00b373,
    "text": #e6eadc,
  ),
  "dark": (
    "bg": #18332f,
    "text": #c2e189,
  ),
  "light": (
    "bg": #e6eadc,
    "text": #84bd00,
  ),
);

@mixin filled-button {
  position: relative;
  z-index: 1;

  &::after {
    content: "";
    position: absolute;
    background-color: rgb(var(--greenery));
    z-index: -1;
    height: 100%;
    width: 100%;
    border-radius: 56px;
    transition: transform 600ms;
  }

  &:hover {
    &::after {
      transform: scale(1.1);
    }
  }
}

@mixin outline-button {
  position: relative;

  &:hover {
    background-color: rgb(var(--phthalo-green));
  }
}

.btn,
[role="button"] {
  &:not(.outline):not(.tag) {
    @include filled-button;
  }

  font: var(--body-default-bold);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  padding: 0 20px;
  background-color: rgb(var(--greenery));
  color: rgb(var(--light-green));
  border: 0;
  gap: 8px;
  border-radius: 56px;
  text-decoration: none;
  transition: all 350ms;

  // Sizes
  &.small {
    font: var(--body-sm-bold);
    padding: 0 16px;
    height: 40px;
  }
  &.large {
    padding: 0 24px;
    height: 56px;
  }

  // Colors
  @each $name, $color in $colors {
    &.#{$name} {
      background-color: #{map-get($color, "bg")};
      color: #{map-get($color, "text")};

      &::after {
        background-color: #{map-get($color, "bg")} !important;
      }

      &.outline {
        background-color: transparent;
        border: 2px solid #{map-get($color, "bg")};
        color: #{map-get($color, "bg")};

        &:hover {
          background-color: #{map-get($color, "bg")}1a;
        }

        &::after {
          background-color: none;
        }
      }
    }
  }

  // Tags
  &.tag {
    font: var(--body-detail-bold);
    height: auto;
    padding: 4px 12px;

    @each $name, $color in $tag-colors {
      &.#{$name} {
        background-color: #{map-get($color, "bg")};
        color: #{map-get($color, "text")};

        &:hover {
          background-color: #{map-get($color, "text")};
          color: #{map-get($color, "bg")};
        }
      }
    }
  }
}

a:not(.btn),
[role="link"] {
  cursor: pointer;
  font: inherit;
  color: rgb(var(--phthalo-green));
  display: inline-flex;
  align-items: center;
  gap: 8px;
  width: max-content;
  position: relative;
  transition: all 350ms;
  text-decoration: none;

  &:not(.link-image, .social) {
    padding: 8px 0;

    &::after {
      content: "";
      background-color: rgb(var(--phthalo-green));
      display: inline-block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      transition: transform 500ms;
      transform: scaleX(0);
      transform-origin: right;
    }
  }

  &:hover {
    &::after {
      transform: scaleX(1);
      transform-origin: left;
    }
  }

  @each $name, $color in $colors {
    &.#{$name} {
      color: #{map-get($color, "bg")};

      &::after {
        background-color: #{map-get($color, "line")};
      }
    }
  }

  &.small {
    font: var(--body-sm);
    padding: 4px 0;
  }

  &.large {
    font: var(--body-lg);
    padding: 12px 0;
  }
}

.social:not(.btn) {
  display: inline-flex;
  padding: 16px;
  border-radius: 56px;

  color: rgb(var(--soft-phthalo-green));
  &:hover {
    color: rgb(var(--phthalo-green));
    background-color: rgb(var(--soft-dark-green));
  }

  &.negative {
    color: rgb(var(--soft-dark-green));
    &:hover {
      color: rgb(var(--dark-green));
      background-color: rgb(var(--soft-phthalo-green));
    }
  }
}

button {
  cursor: pointer;
  transition: all 350ms;
  /* all: unset; */
}
