:root {
  /* Brand - Primary */
  --light-green: rgba(230, 234, 220, 1);
  --phthalo-green: rgba(194, 225, 137, 1);
  --greenery: rgba(132, 189, 0, 1);
  --leaf-green: rgba(0, 179, 115, 1);
  --dark-green: rgba(24, 51, 47, 1);

  /* Brand - Secondary */
  --deep-blue-sea: rgba(0, 38, 62, 1);
  --sky-blue: rgba(0, 163, 225, 1);
  --baltic-sea: rgba(153, 214, 234, 1);

  /* Support */
  --soft-dark-green: rgba(46, 97, 90, 1);
  --soft-phthalo-green: rgba(222, 239, 191, 1);
}
