:root {
  /* Brand - Primary */
  --light-green: 230, 234, 220;
  --phthalo-green: 194, 225, 137;
  --greenery: 132, 189, 0;
  --leaf-green: 0, 179, 115;
  --dark-green: 24, 51, 47;

  /* Brand - Secondary */
  --deep-blue-sea: 0, 38, 62;
  --sky-blue: 0, 163, 225;
  --baltic-sea: 153, 214, 234;

  /* Support */
  --soft-dark-green: 46, 97, 90;
  --soft-phthalo-green: 222, 239, 191;
}

.bg-light {
  background-color: rgb(var(--light-green));
}

.bg-dark {
  background-color: rgb(var(--dark-green));
}