@use "mixins";

:root {
  /* Heading Styles */
  --display: 700 80px/88px var(--ff);
  --heading-lg: 700 64px/80px var(--ff);
  --heading-md: 700 56px/72px var(--ff);
  --heading-sm: 700 48px/64px var(--ff);
  --heading-xs: 700 40px/56px var(--ff);

  /* Body Styles */
  --body-lg: 500 24px/40px var(--ff);
  --body-default: 500 20px/32px var(--ff);
  --body-sm: 500 16px/28px var(--ff);
}

body {
  font: var(--body-default);
  color: rgb(var(--light-green));
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  white-space: break-spaces;

  @include mixins.sm {
    white-space: normal;
  }
}

h1 {
  font: var(--display);
}
h2 {
  font: var(--heading-lg);
}
h3 {
  font: var(--heading-md);
}
h4 {
  font: var(--heading-sm);
}
h5 {
  font: var(--heading-xs);
}

small {
  font: var(--body-sm);
}

.overline {
  display: flex;
  width: max-content;
  align-items: center;
  font-weight: 700 !important;

  &.small {
    font: var(--body-sm);
  }
  &.large {
    font: var(--body-lg);
  }

  &.light {
    background-color: rgb(var(--phthalo-green));
    color: rgb(var(--greenery));
  }
  &.dark {
    background-color: rgb(var(--soft-dark-green));
    color: rgb(var(--phthalo-green));
  }

  &.light,
  &.dark {
    border-radius: 56px;
    height: 40px;
    padding: 0 12px;

    .small {
      height: 36px;
      padding: 0 12px;
    }
    .large {
      height: 52px;
      padding: 0 16px;
    }
  }
}
